.main{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
    background-color: #f8f9fd;
}
.login-form {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 20px; */
    /* height: 100vh; */
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    
    background-color: white;
    padding: 5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

input {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2 );
}

button {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
}

button:hover {
    background: #6cf0c2;
}

.button-container {
    display: flex;
    justify-content: center;
}

.container{
    width: 65%;
    margin: 0 auto;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 0.5fr));
    grid-gap:20px;
    box-sizing: border-box;
}
